.container {
  max-width: 400px;
  margin: 20px auto; /* Agregado top y bottom margin */
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group textarea {
  height: 120px;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.button-container button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #45a049;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 10px;
}


footer {
  grid-template-columns: minmax(auto, 1280px);
  width: 100%;
  position:fixed;
  bottom: 0;
  left: 0;
  padding: 2rem 8%;
  background-color: #0e0e0e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-icon,
.footer-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.social-icon {
  height: 5vw;
  width: 5vw;
  max-height: 50px;
  max-width: 50px;
  border-radius: 50%;
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
  margin: 1rem;
}

.social-icon:hover {
  background-color: #ffffff;
  filter: invert(1);
}

.footer-menu-container {
  list-style-type: none;
  color: #f2f2f2;
  font-size: 1.5vw;
}

.menu-item {
  margin: 1rem 1.5rem;
  cursor: pointer;
  opacity: 0.6;
}






.copyright {

  color: #f2f2f2;
}

.social-icon:nth-last-of-type(1) {

  background-image: url(/recursos/facebook.png);
}

.social-icon:nth-last-of-type(2) {

  background-image: url(/recursos/instagram.png);
}

.social-icon:nth-last-of-type(3) {

  background-image: url(/recursos/whatsapp.png);
}

.social-icon:nth-last-of-type(4) {

  background-image: url(/recursos/twitter.png);
}