/* styleAdmin.css */

/* Estilo para el encabezado de la página */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  /* Estilo para la barra de navegación */
  .navbar {
    background-color: #333;
  }
  
  .navbar-brand {
    color: #fff;
  }
  
  .nav-link {
    color: #fff;
  }
  
  /* Estilo para las tablas */
  .table {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
  }
  
  .table th,
  .table td {
    vertical-align: middle;
    padding: 8px 12px;
  }
  
  .table th {
    background-color: #6c757d;
    color: #fff;
  }
  
  .table td button {
    margin-right: 5px;
  }
  
  /* Estilo para los botones de modificar y eliminar */
  .btn-modificar,
  .btn-eliminar,
  .btn-modificar-1,
  .btn-eliminar-1,
  .btn-modificar-2,
  .btn-eliminar-2 {
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
  }
  
  .btn-modificar {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
  }
  
  .btn-eliminar {
    background-color: #dc3545;
    color: #000000;
    border-color: #dc3545;
  }
  
  .btn-modificar-1 {
    background-color: #6c757d;
    color: #fff;
    border-color: #6c757d;
  }
  
  .btn-eliminar-1 {
    background-color: #dc3545;
    color: #fff;
    border-color: #dc3545;
  }
  
  .btn-modificar-2 {
    background-color: #198754;
    color: #fff;
    border-color: #198754;
  }
  
  .btn-eliminar-2 {
    background-color: #dc3545;
    color: #fff;
    border-color: #dc3545;
  }
  
  /* Estilo para el fondo de la página */
  body {
    background: linear-gradient(to bottom, #8c51ff, #007bff);
  }
  