body {
    position: relative;
    display: flex;
    flex-direction: column;
    grid-template-columns: minmax(auto,1280px);
    background: #6441A5;
    background: linear-gradient(to right, #2a0845, #6441A5);

}

.mensaje-bienvenida {
    padding: 10px;
    background-color: #000000;
    color: #f8f8f8;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
}


.cartas h1{
    color: rgb(255, 255, 255);
    text-align: center;
    
    text-decoration: underline;
}
.container1 {
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: underline;
    display: table;
    margin-left: 4%;
}

/* CSS personalizado para el navbar */
.navbar {
    background-color: #333;
  }
  
  .navbar-brand {
    color: #fff;
    font-weight: bold;
  }
  
  .navbar-nav .nav-link {
    color: #fff;
  }
  
  .navbar-nav .nav-link:hover {
    color: #ffc107;
  }
  
  .navbar-toggler-icon {
    background-color: #fff;
  }
  
  .mensaje-bienvenida {
    color: #fff;
    font-weight: bold;
    margin-right: 10px;
  }
  


footer {
    grid-template-columns: minmax(auto, 1280px);
    width: 100%;
    position: flex;
    bottom: 0;
    left: 0;
    padding: 2rem 8%;
    background-color: #0e0e0e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-icon,
.footer-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.social-icon {
    height: 5vw;
    width: 5vw;
    max-height: 50px;
    max-width: 50px;
    border-radius: 50%;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
    margin: 1rem;
}

.social-icon:hover {
    background-color: #ffffff;
    filter: invert(1);
}

.footer-menu-container {
    list-style-type: none;
    color: #f2f2f2;
    font-size: 1.5vw;
}

.menu-item {
    margin: 1rem 1.5rem;
    cursor: pointer;
    opacity: 0.6;
}

.copyright {

    color: #f2f2f2;
}

.social-icon:nth-last-of-type(1) {

    background-image: url("../recursos/facebook.png");
}

.social-icon:nth-last-of-type(2) {

    background-image: url("../recursos/instagram.png");
}

.social-icon:nth-last-of-type(3) {

    background-image: url("../recursos/whatsapp.png");
}

.social-icon:nth-last-of-type(4) {

    background-image: url("../recursos/twitter.png");
}

.containerOF {
    float: left;
    width: 100%;
    display: flex;
    max-width: 1100px;

}

.card{

    width: 150%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2) ;
    transition: all 400ms ease;
    
}
.card:hover {
    box-shadow: 5px 1px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
     
}

.tarjeta{

    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2) ;
    transition: all 400ms ease;
    
}
.tarjeta:hover {
    box-shadow: 5px 1px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
     
}

.tarjeta {
padding: 15px;
text-align: center;

}

.tarjeta .contenido p {
    font-family: Arial;
    color: #0e0e0e;
}s
.tarjeta .contenido h1 {

    font-weight: 400;
    margin-bottom: 15px;
}

.tarjeta .contenido a {

    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 1cm;
    color: #000000;
    border:  1px solid black;
    border-radius: 4px;
    transform: translateY(-3%);

}

.tarjeta .contenido a:hover {

   background: #000000;
    color: #f2f2f2;
}

section h4{
    text-align: center;
    color: #f2f2f2;
}

section h4:hover {
  color: #000000;
  cursor: default;
}

.row{
    background-color:#ffffff;
    color: #000000; 
    border-radius: 2%;
    border: #000000;
    border-style:groove;
}
h2{
    background-color:#ffffff;
}