<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserva</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/registro.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">HardFrame</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item ">
            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">INICIO</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Categorias
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="{% url 'componentes' %}">Componentes</a></li>
              <li><a class="dropdown-item" href="{% url 'perifericos' %}">Perifericos</a></li>
              <li><a class="dropdown-item" href="{% url 'software' %}">Sofware</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ofertas' %}">Ofertas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contactanos' %}">Contactanos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'quienessomos' %}">¿Quienes somos?</a>
          </li>
          <li class="nav-item ">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
              data-bs-whatever="@">Inicio Sesion
            </button>
          </li>
          <!--inicio de ventana emergente-->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Inicio de sesion</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!--inicio de sesion con formulario-->
                <div class="modal-body">
                  <form action="" method="POST" id="form">
                    <div class="form">
                      <div class="mb-3">
                        <label for="recipient-email" class="col-form-label">Correo:</label>
                        <input type="email" class="form-control" id="email">
                      </div>
                      <div class="mb-3">
                        <label for="recipient-password" class="col-form-label">Contraseña:</label>
                        <input type="password" class="form-control" id="password">
                      </div>
                      <div class="pt-1">
                        <p class="warnings" id="warnings"></p>
                        <a href="#" class="text-decoration-none text-info fw-semibold fst-italic"
                          style="font-size: 0.9rem">Olvidaste tu contraseña?</a>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Iniciar sesion</button>
                      </div>
                    </div>
                  </form>
                </div>
                <!--fin inicio de sesion-->
              </div>
            </div>
          </div>
          <!--fin de ventana emergente-->
      </div>
      </ul>
    </div>

  </nav>
    <div class="container">
    <div class="card" style="position: absolute;">
    <div class="modal-body">
        <form action="" method="POST" id="form">
          <div class="form">
            <div class="mb-3">
              <h5 class="card-title">Ficha de reserva</h5>
              <label for="recipient-text" class="col-form-label">Nombre completo:</label>
              <input type="text" class="form-control" id="name" placeholder="Alberto jeje">
            </div>
            <div class="pt-1">
              <span id="name-warning" class="warning"></span>
            </div>
            <div class="mb-3">
                <label for="recipient-email" class="col-form-label" >Correo:</label>
                <input type="email" class="form-control" id="email" placeholder="name@example.com">
              </div>
              <div class="pt-1">
                <span id="email-warning" class="warning"></span>
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect1">Selecciona un producto para:</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>Intel i7 <br>
                    Valor de Reserva: $224.990
                  </option>
                  <option>Steam Deck <br>
                    Valor de Reserva: $339.995
                  </option>
                  <option>THUNDERX3 <br>
                    Valor de Reserva: $69.995
                  </option>
                  <option>PRIMUS GAMING <br>
                    Valor de Reserva: $18.495
                  </option>
                  <option>AEROCOOL <br>
                    Valor de Reserva: $69.995
                  </option>
                </select>
              </div>
              <div class="mb-3">
                <label for="recipient-text" class="col-form-label">identificador:</label>
                <input type="text" class="form-control" id="rut" placeholder="99999999-9">
              </div>
              <div class="pt-1">
                <span id="rut-warning" class="warning"></span>
              </div>
              <div class="mb-3">
                <label for="recipient-text" class="col-form-label">Residencia:</label>
                <input type="text" class="form-control" id="Residencia" placeholder="Puerto montt">
              </div>
              <div class="pt-1">
                <span id="residencia-warning" class="warning"></span>
              </div>
            <div class="pt-1">
              <span id="comentario-warning" class="warning"></span>
            </div>
            <div class="modal-footer">
              <A href="{% url 'reserva' %}"> <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">limpiar</button></A>
              <button type="submit" class="btn btn-primary">Pagar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
</div>

<footer>
  <div class="container-icon">
    <a href="" class="social-icon"></a>
    <a href="" class="social-icon"></a>
    <a href="" class="social-icon"></a>
    <a href="" class="social-icon"></a>

  </div>

  <ul class="footer-menu-container">
    <li href="" class="menu-item">Legal</li>
    <li class="menu-item">Cookies</li>
    <li class="menu-item">Privacidad</li>
    <li class="menu-item">Compras</li>




  </ul>
  <span class="copyright">&copy; 2023 Calfun Academy, Todos los derechos reservados.</span>
</footer>




    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
    <script src="../static/js/Funciones1.js"></script>
</body>
</html>